- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'
- content_for :banner do
  / banner start
  / ================
  .banner.clearfix
    / slideshow start
    / ================
    .slideshow
      / slider revolution start
      / ================
      .slider-banner-container
        .slider-banner-fullscreen
          %ul.slides
            / slide 1 start
            / ================
            %li{"data-masterspeed" => "500", "data-saveperformance" => "on", "data-slotamount" => "7", "data-title" => "Powerful Bootstrap Template", "data-transition" => "random-static"}
              / main image
              = image_tag("slider-fullscreen-slide-1.jpg")
              / Transparent Background
              .tp-caption.dark-translucent-bg{"data-easing" => "easeOutQuad", "data-speed" => "500", "data-start" => "0", "data-x" => "center", "data-y" => "bottom"}
              / LAYER NR. 1
              .tp-caption.sfr.stl.xlarge_white{"data-easing" => "easeOutQuad", "data-elementdelay" => "0.1", "data-end" => "2500", "data-endelementdelay" => "0.1", "data-speed" => "200", "data-splitin" => "chars", "data-splitout" => "chars", "data-start" => "1000", "data-x" => "center", "data-y" => "70"}
                An toàn
              / LAYER NR. 2
              .tp-caption.sfl.str.xlarge_white{"data-easing" => "easeOutQuad", "data-elementdelay" => "0.1", "data-end" => "4000", "data-endelementdelay" => "0.1", "data-speed" => "200", "data-splitin" => "chars", "data-splitout" => "chars", "data-start" => "2500", "data-x" => "center", "data-y" => "70"}
                Chất lượng
              / LAYER NR. 3
              .tp-caption.sfr.stt.xlarge_white{"data-easing" => "easeOutQuad", "data-elementdelay" => "0.1", "data-end" => "6000", "data-endelementdelay" => "0.1", "data-endspeed" => "400", "data-speed" => "200", "data-splitin" => "chars", "data-splitout" => "chars", "data-start" => "4000", "data-x" => "center", "data-y" => "70"}
                Uy tín
              / LAYER NR. 4
              .tp-caption.sft.fadeout.text-center.large_white{"data-easing" => "easeOutQuad", "data-end" => "10000", "data-speed" => "500", "data-start" => "6400", "data-x" => "center", "data-y" => "70"}
                %span.logo-font
                  Mỹ phẩm
                  %span.text-default Vicdina
                %br
                  Thẩm mỹ không phẫu thuật với hiệu quả bất ngờ
              / LAYER NR. 5
              .tp-caption.sfr.fadeout{"data-easing" => "easeOutQuad", "data-end" => "5500", "data-hoffset" => "-232", "data-speed" => "500", "data-start" => "1000", "data-x" => "center", "data-y" => "210"}
                %span.icon.large.circle
                  %i.circle.icon-lightbulb
              / LAYER NR. 6
              .tp-caption.sfl.fadeout{"data-easing" => "easeOutQuad", "data-end" => "5500", "data-speed" => "500", "data-start" => "2500", "data-x" => "center", "data-y" => "210"}
                %span.icon.large.circle
                  %i.circle.icon-arrows-ccw
              / LAYER NR. 7
              .tp-caption.sfr.fadeout{"data-easing" => "easeOutQuad", "data-end" => "5500", "data-hoffset" => "232", "data-speed" => "500", "data-start" => "4000", "data-x" => "center", "data-y" => "210"}
                %span.icon.large.circle
                  %i.circle.icon-chart-line
              / LAYER NR. 8
              .tp-caption.ZoomIn.fadeout.text-center.tp-resizeme.large_white{"data-easing" => "easeOutQuad", "data-end" => "10000", "data-speed" => "500", "data-start" => "6400", "data-x" => "center", "data-y" => "170"}
                .separator.light
              / LAYER NR. 9
              .tp-caption.sft.fadeout.medium_white.text-center{"data-easing" => "easeOutQuad", "data-end" => "10000", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "5800", "data-x" => "center", "data-y" => "210"}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                %br
                  Nesciunt, maiores,
                  aliquid. Repellat eum numquam aliquid culpa offici,
                  %br
                    tenetur fugiat dolorum sapiente eligendi...
              / LAYER NR. 10
              .tp-caption.fade.fadeout{"data-easing" => "easeOutQuad", "data-end" => "10000", "data-endspeed" => "200", "data-speed" => "500", "data-start" => "2000", "data-voffset" => "100", "data-x" => "center", "data-y" => "bottom"}
                %a.btn.btn-lg.moving.smooth-scroll{:href => "#page-start"}
                  %i.icon-down-open-big
                  %i.icon-down-open-big
                  %i.icon-down-open-big
            / slide 1 end
            / slide 2 start
            / ================
            %li{"data-masterspeed" => "500", "data-saveperformance" => "on", "data-slotamount" => "7", "data-title" => "Premium HTML5 Bootstrap Theme", "data-transition" => "random-static"}
              / main image
              = image_tag("slider-fullscreen-slide-2.jpg")
              / Transparent Background
              .tp-caption.dark-translucent-bg{"data-easing" => "easeOutQuad", "data-speed" => "500", "data-start" => "0", "data-x" => "center", "data-y" => "bottom"}
              / LAYER NR. 1
              .tp-caption.sfb.fadeout.large_white{"data-easing" => "easeOutQuad", "data-end" => "10000", "data-speed" => "500", "data-start" => "1000", "data-x" => "left", "data-y" => "70"}
                %span.logo-font Vicdina
                %br
                  Hướng đến vẻ đẹp hoàn hảo cho người Việt
              / LAYER NR. 2
              .tp-caption.sfb.fadeout.text-left.medium_white{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "1300", "data-x" => "left", "data-y" => "200"}
                %span.icon.default-bg.circle.small.hidden-xs
                  %i.fa.fa-laptop
                Đẹp hơn
              / LAYER NR. 3
              .tp-caption.sfb.fadeout.text-left.medium_white{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "1600", "data-x" => "left", "data-y" => "260"}
                %span.icon.default-bg.circle.small.hidden-xs
                  %i.icon-check
                Tự tin hơn
              / LAYER NR. 4
              .tp-caption.sfb.fadeout.text-left.medium_white{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "1900", "data-x" => "left", "data-y" => "320"}
                %span.icon.default-bg.circle.small.hidden-xs
                  %i.icon-gift
                Chi phí rẻ hơn
              / LAYER NR. 5
              .tp-caption.sfb.fadeout.text-left.medium_white{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "2200", "data-x" => "left", "data-y" => "380"}
                %span.icon.default-bg.circle.small.hidden-xs
                  %i.icon-hourglass
                Trở nên xinh đẹp hơn chỉ sau 15 – 20 phút
              / LAYER NR. 6
              .tp-caption.sfb.fadeout.small_white{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "2500", "data-x" => "left", "data-y" => "450"}
                %a.btn.btn-default.btn-lg.btn-animated{:href => "#"}
                  Mua ngay
                  %i.fa.fa-cart-arrow-down
          / slide 2 end
          .tp-bannertimer
  / slider revolution end
  / slideshow end
  / banner end

= render 'shared/product_list', :products => @products
