/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/css/bootstrap
 *= require fonts/font-awesome/css/font-awesome
 *= require fonts/fontello/css/fontello
 *= require plugins/magnific-popup/magnific-popup
 *= require plugins/rs-plugin/css/settings
 *= require css/animations
 *= require plugins/owl-carousel/owl.carousel
 *= require plugins/owl-carousel/owl.transitions
 *= require plugins/hover/hover-min
 *= require css/style
 *= require css/skins/purple
 *= require css/custom
 */
@font-face{
  font-family: "Pacifico";
  src:asset-url("pacifico/Pacifico.otf");
  src:asset-url("pacifico/Pacifico.ttf");
}
@font-face{
  font-family: "Raleway";
  src:asset-url("raleway/Raleway-Light-vi.ttf");
  src:asset-url("raleway/Raleway-Medium-vi.ttf");
  src:asset-url("raleway/Raleway-Regular-vi.ttf");
}